.container-todo{
    width:600px;
    height: 700px;
    background-color: #f5f5f5;
}
.container-todo p{
    margin-bottom: 5px;
    color:#c39c9b;
    font-size:xx-large;
}
.todo{
    width: 450px;
    height: auto;
    background-color: #fefefe;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    -webkit-box-shadow: 7px 6px 11px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 6px 11px -5px rgba(0,0,0,0.75);
    box-shadow: 7px 6px 11px -5px rgba(0,0,0,0.75);
    z-index: 1000;
    margin-top: 10px;
}
.input-add{
    display: flex;
}
.input-add button{
    background-color: transparent;
    border: none;
    width: 100px;
}
.spinner{
    width: 90px;
    height: 90px;
}
.input{
    width: 90%;
    outline-style: none;
    padding: 10px;
    border: none;
    font-size: larger;
    color: black;
    border-bottom: 2px solid #f4f4f4;
}
.options{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.filters button{
   background-color: transparent;
   border:none;

}
.border-filter{
    border: 1px solid red !important;
}
.dummydiv{
    width: 450px;
    height: 80px;
    background-color: #fefefe;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    -webkit-box-shadow: 7px 6px 11px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 6px 11px -5px rgba(0,0,0,0.75);
    box-shadow: 7px 6px 11px -5px rgba(0,0,0,0.75);
    background-color: transparent;
     margin-top: -75px;
     z-index: -1;
    
   
}

